BODY {
	MARGIN: 7px; FONT: 13px/1.33 arial,sans-serif
}
A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00f
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#masthead {
	display: none; MARGIN: auto; WIDTH: 750px
}
#content {
	MARGIN: auto; WIDTH: 750px
}
#footer {
	display: none; MARGIN: auto; WIDTH: 750px
}
#bottom {
	display: none; MARGIN: auto; WIDTH: 750px
}
#masthead {
	TEXT-ALIGN: center
}
#footer {
	TEXT-ALIGN: center
}
#banner {
	MARGIN: auto; WIDTH: 682px
}
#banner IMG {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#banner A {
	COLOR: #bbb
}
#bottom {
	CLEAR: both
}
#main {
	FLOAT: left; WIDTH: 445px; MARGIN-RIGHT: 5px; TEXT-ALIGN: center
}
#dirFooter {
	MARGIN: 10px 0px
}
#dirFooter A {
	FONT: bold 10px verdana,sans-serif
}
#subhead {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: bold 13px arial,sans-serif; PADDING-TOP: 15px
}
#subhead A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FONT: 13px/1.33 arial,sans-serif
}
#subhead A:unknown {
	FONT-WEIGHT: bold
}
.searchBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 14px; MARGIN: auto; WIDTH: 375px; PADDING-TOP: 14px
}
.searchBox FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 275px; PADDING-TOP: 0px
}
.searchBox INPUT.text {
	WIDTH: 205px
}
.searchBox UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 8px arial,sans-serif; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.searchBox UL A {
	FONT: 10px/11px arial,sans-serif
}
#features {
	MARGIN-BOTTOM: 10px; FONT: 12px arial,sans-serif; WIDTH: 445px
}
#features THEAD TH {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #f60
}
#features THEAD TD A {
	FONT-WEIGHT: bold
}
#features TR.toprule {
	BORDER-TOP: #eee 1px solid
}
#features TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#features TH {
	TEXT-ALIGN: left
}
#features TD {
	TEXT-ALIGN: left
}
#yahooShopping {
	FONT: 12px arial,sans-serif; WIDTH: 445px
}
#yahooISP {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(isp_bg.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; WIDTH: 440px; COLOR: #faebbc; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 165px
}
#yahooISP IMG {
	LEFT: 117px; POSITION: absolute; TOP: 55px
}
#yahooISP FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 50px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 129px
}
#directory {
	FONT: 13px arial,sans-serif; WIDTH: 445px
}
#directory THEAD TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #ffe8ba; PADDING-BOTTOM: 3px; FONT: 10px verdana,sans-serif; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #bfbebe 1px solid; TEXT-ALIGN: center
}
#directory TH {
	TEXT-ALIGN: left
}
#directory TD {
	TEXT-ALIGN: left
}
#directory TD {
	FONT: 10px arial,sans-serif
}
#right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 300px; PADDING-TOP: 0px
}
DIV.panel {
	BORDER-RIGHT: #9b72cf 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #9b72cf 1px solid; PADDING-LEFT: 0px; BACKGROUND: #f1f1fd; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #9b72cf 1px solid; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #9b72cf 1px solid
}
DIV.panel H1 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 3px; BACKGROUND: #9b72cf; PADDING-BOTTOM: 5px; MARGIN: 0px; FONT: bold 10px verdana,sans-serif; COLOR: #fff; PADDING-TOP: 5px; HEIGHT: 10px; TEXT-ALIGN: left
}
DIV.panel H1 A {
	FLOAT: right; WIDTH: 50px
}
DIV.panel UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 25px; FONT: 12px/18px arial,sans-serif; PADDING-TOP: 0px
}
DIV.panel P {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
DIV.panel HR {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: auto; WIDTH: 100px; COLOR: #d0d3f2; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; TEXT-ALIGN: right; BORDER-BOTTOM-STYLE: none
}
UNKNOWN {
	BORDER-RIGHT: #d0d3f1 0px solid; BORDER-TOP: #d0d3f1 0px solid; MARGIN: 0px 10px; BORDER-LEFT: #d0d3f1 0px solid; WIDTH: 280px; COLOR: #d0d3f2; BORDER-BOTTOM: #d0d3f1 0px solid; HEIGHT: 1px; BACKGROUND-COLOR: #d0d3f2
}
UNKNOWN {
	MARGIN: auto
}
DIV.panel DIV.more {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; FONT: bold 10px/1 verdana,sans-serif; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#assistant {
	BORDER-RIGHT: #4d99e5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #4d99e5 1px solid; PADDING-LEFT: 0px; BACKGROUND: #e5f6ff; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; BORDER-LEFT: #4d99e5 1px solid; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #4d99e5 1px solid
}
#assistant H1 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 3px; BACKGROUND: #4d99e5; PADDING-BOTTOM: 5px; MARGIN: 0px; FONT: bold 10px verdana,sans-serif; COLOR: #fff; PADDING-TOP: 5px; HEIGHT: 10px; TEXT-ALIGN: left
}
#assistant H1 A {
	PADDING-RIGHT: 0px; MARGIN-TOP: -12px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 50px; COLOR: #fff; PADDING-TOP: 0px
}
#assistant P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
#ad {
	MARGIN-BOTTOM: 10px
}
#entertainment LI IMG {
	FLOAT: left; MARGIN: 0px 5px; WIDTH: 50px
}
#entertainment LI P {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; FONT: 10px/12px verdana,sans-serif; PADDING-TOP: 12px
}
#bottom {
	TEXT-ALIGN: center
}
#localYahoo {
	MARGIN: 10px auto
}
#moreYahoo {
	MARGIN: 10px auto
}
#bottom TABLE {
	WIDTH: 750px
}
#bottom TD {
	MARGIN: 3px; TEXT-ALIGN: left
}
#bottom TH {
	BACKGROUND: #eaf6ec; MARGIN: 3px; FONT: bold 10px verdana,sans-serif; COLOR: #000
}
#bottom THEAD TH {
	BACKGROUND: #fff; FONT: bold 16px arial,sans-serif; COLOR: #000
}
#footer .searchBox {
	BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 10px; BACKGROUND: #eee; MARGIN-BOTTOM: 10px; COLOR: #000; BORDER-BOTTOM: #ccc 1px solid
}
#moreYahoo HR {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ddd; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
UNKNOWN {
	BORDER-RIGHT: #ddd 0px solid; BORDER-TOP: #ddd 0px solid; BORDER-LEFT: #ddd 0px solid; COLOR: #ddd; BORDER-BOTTOM: #ddd 0px solid; HEIGHT: 1px; BACKGROUND-COLOR: #ddd
}
#copyright {
	FONT: 10px arial,sans-serif; PADDING-TOP: 15px
}
#privacy {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: red
}
UL.inline LI {
	DISPLAY: inline
}
UL.inline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.inline LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
